# Large datasets
data/raw/
data/processed/
data/sample/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Spark
spark-warehouse/
metastore_db/
derby.log

# IDE
.vscode/
.idea/
